<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <style>
        p{font-size:20px;}
        h1{font-size:40px;}
        h2{font-size:30px;}

    </style>
</head>
<body >
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" >Portal</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class = "">
                        <a href="/">Home</a>
                    </li>
                    <li class = "">
                        <a href="{% url 'professors:index' %}">Professors</a>
                    </li>
                    <li class = "">
                        <a href="{% url 'courses:index' %}">Courses</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class = "">
                        {% if request.user.username %}
                            <a href="{% url 'users:show_profile' %}">Welcome {{request.user.username}}</a>
                        {% else %}
                            <a href="#">Not logged in</a>
                        {% endif %}
                    </li>
                    <li class = "">
                       {% if request.user.username %}
                            <a href="{% url 'courses:add_rating' %}">Add Course review</a>
                        {% endif %}
                    </li>
                    <li class = "">
                       {% if request.user.username %}
                            <a href="{% url 'professors:add_rating' %}">Add Professor review</a>
                        {% endif %}
                    </li>
                    <li class = "">
                        {% if request.user.username %}
                            <a href="{% url 'users:logout' %}">Logout</a>
                        {% else %}
                            <a href="{% url 'users:login' %}">Login/Sign Up</a>
                        {% endif %}</li>
                </ul>
                <form class="navbar-form navbar-right" role="search" method="get" action="{% url 'root:search' %}">
                    <div class="form-group">
                        <input type="text" class="form-control" name="query" value="">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div style="margin-left: 10px">
        {% block body %}
        {% endblock %}
    </div>

</body>
</html>



