{% extends 'root/base.html' %}
{% block body %}
<h2>Search Results</h2>
{% if prof_match|length > 0 %}<h3>Professors:</h3>{% endif %}
<ul>
    {% for prof in prof_match %}
        <li><a href="{% url 'professors:detail' prof.id %}"> {{ prof.name }} </a></li>
    {% endfor %}
</ul>

{% if course_match|length > 0 %}<h3>Courses:</h3>{% endif %}
<ul>
    {% for course in course_match %}
        <li><a href="{% url 'courses:detail' course.id %}"> {{ course.name }} </a></li>
    {% endfor %}
</ul>

{% if user_match|length > 0 %}<h3>Users:</h3>{% endif %}
<ul>
    {% for user in user_match %}
        <li><a href=""> {{ user.username }} </a></li>
    {% endfor %}
</ul>

{% if user_match|length == 0 and course_match|length == 0 and user_match|length == 0 %}
    <p>Sorry ... no users professors or courses matched your query </p>
{% endif %}
{% endblock %}

